<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667154830899-nmim13mcsd2iksj2fdid5e35ipi0sgqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667154830899-nmim13mcsd2iksj2fdid5e35ipi0sgqd</string>
	<key>API_KEY</key>
	<string>AIzaSyDDheqsILck9Qhc-DgqZidoW8EXpfZ4YCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>667154830899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-94bcf</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-94bcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667154830899:ios:471c0a3008383d2a6b3546</string>
</dict>
</plist>